<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tool="http://schemas.android.com/tools"
    package="com.hitomi.transferimage">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".SysApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tool:ignore="LockedOrientationActivity">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ComplexDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LocalImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HeaderRecyclerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FriendsCircleActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>